.suit-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.suit-icon svg {
  width: 100%;
  height: 100%;
}

.suit-icon-small {
  width: 16px;
  height: 16px;
}

.suit-icon-medium {
  width: 32px;
  height: 32px;
}

.suit-icon-large {
  width: 48px;
  height: 48px;
}

.suit-eichel {
  color: #1a1a1a;
}

.suit-gras {
  color: #1a1a1a;
}

.suit-herz {
  color: #d32f2f;
}

.suit-schellen {
  color: #d32f2f;
}


